#stars,
#stars2,
#stars3 {
    position: fixed;
    inset: 0;
    background: transparent;
    pointer-events: none;
}

#stars {
    animation: moveStars 50s linear infinite;
}

#stars2 {
    animation: moveStars 100s linear infinite;
}

#stars3 {
    animation: moveStars 150s linear infinite;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

#twinkle {
    position: fixed;
    inset: 0;
    pointer-events: none;
    animation:
        moveStars 120s linear infinite,
        twinkle 2.5s ease-in-out infinite;
    filter: drop-shadow(0 0 6px #00ff66);
}

@keyframes twinkle {

    0%,
    100% {
        opacity: .4;
        filter: drop-shadow(0 0 2px #00ff66);
    }

    50% {
        opacity: 1;
        filter: drop-shadow(0 0 10px #00ff66);
    }
}

#twinkle1 {
    animation-delay: 0s;
}

#twinkle2 {
    animation-delay: .8s;
}

#twinkle3 {
    animation-delay: 1.6s;
}